@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    background-image: url('../기초화면.png');
    background-size: cover;
    font-family: 'Noto Sans KR', sans-serif;
}

.teamname {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 250px;
    margin-top: 50px;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    margin-top: 40px;
}

.team2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    margin-top: -20px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    font-size: 70px;
    padding: 10px 70px;
    margin-top: 40px;
}