* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background: url(../image/bg-image.png) no-repeat center/cover;
}

.wrap {
  width: 1300px;
  height: 100%;
  margin: auto;
}

.logo {
  width: 100%;
  height: 80px;
  margin-bottom: 50px;
}

.logo h1 {
  float: left;
  line-height: 80px;
}

.logo a {
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  float: right;
  text-align: center;
  margin-top: 20px;
  background: #fff;
  text-decoration: none;
  color:#000;
}

.card-wrap {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-flip {
  width: 256px;
  height: 400px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all ease 1s;
  transform-style: preserve-3d;
}

.card-flip:hover .card-inner {
  transform: rotateY(180deg);
}

.front-card,
.back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.front-card>img,
.back-card>img {
  border-radius: 20px;
}

.front-card>img {
  width: 100%;
  height: 100%;
  background-size: contain;
}

.back-card {
  border-radius: 20px;
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  transform: rotateY(180deg);
}

.back-card>img {
  width: 80%;
  background-size: cover;
  padding: 20px;
}

.back-card a {
  display: inline-block;
  border-radius: 20px;
}